
/**
	Document info view
*/

.document-info-title {
    -fx-font-size: 24px;
    -fx-padding: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #006464;
}

.document-info-date {
	-fx-font-style:italic;
}

.document-info-description {
}

/*
	 library tree 
*/

.over-element {
	-fx-background-color : #E3E3E3;
}

/*
	Button style
*/

.btn-on-add-document-previewer {
	-fx-padding: 20;
	-fx-width : 200;
	-fx-height : 120;
}


