
/**
	Document info view
*/

.document-info-title {
    -fx-font-size: 24px;
    -fx-padding: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #317EAC;
}

.document-info-date {
	/*-fx-font-style:italic;*/
	-fx-text-fill: #999999;
}

.document-info-description {
}

/*
	 library tree 
*/

.over-element {
	-fx-background-color : #E3E3E3;
}

/*
	Top bar
*/
.toolbar {
	-fx-background-color : #EEEEEE;
}

/*
	Plugins
*/
.list-plugin-title {
	-fx-font-size: 24px;
    /*-fx-padding: 20;*/
    -fx-font-weight: bold;
    -fx-text-fill: #317EAC;
}
.list-plugin-version {
	
}
.list-plugin-author {
	
}
.list-plugin-jarname {
	-fx-font-style:italic;
}
.list-plugin-desc {
	
}

/*
	Buttons
	@see http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
*/
.button:hover{
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9f9f9f, #9f9f9f),
        linear-gradient(white 0%, #ffffff 50%, #eeeeee 51%, #fefefe 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
.button:pressed {
    -fx-background-color: 
        rgba(0,0,0,0.08),
		linear-gradient(#9f9f9f, #9f9f9f),
        linear-gradient(white 0%, #cccccc 50%, #cccccc 51%, #eeeeee 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
.button {
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.text-field .error { 
	-fx-border-color: #FF0000;
	-fx-border-insets: 0;
    -fx-border-width: 2px;
}


/**
	Fieldsets
	
	@see http://code.google.com/p/javafx-demos/source/search?q=template.css&origq=template.css&btnG=Search+Trunk
*/
.fieldSet{
	-fx-border-color:#EEEEEE;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-border-radius:5px;
}
.fieldSetDefault{
	-fx-border-color:transparent;
	-fx-border-radius:5px;
	-fx-border-width:2px;
	-fx-border-style:solid;
}
.fieldSetRed{
	-fx-border-color:red;
	-fx-border-radius:5px;
	-fx-border-width:2px;
	-fx-border-style:solid;
}
.fieldSetGreen{
	-fx-border-color:green;
	-fx-border-radius:5px;
	-fx-border-width:2px;
	-fx-border-style:solid;
}

