*.class

# Package Files #
*.jar
*.war
*.ear

# eclipse
.project
.settings
.classpath

# idea
.idea
*.iml

# maven
target

# from simple ged
*.profile
*.sqlite
*.sqlite-journal
directory_icons

# others
*.swp

# windows dependencies
*.dll

# logs
*.log
*.log.zip

# temp dir for releases
files-to-release

# logback
logback.xml

# do not release my data !
*.pdf

