<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
			"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		
		<property name="lazy-init">false</property>
		
		<property name="dialect">fr.xmichel.toolbox.hibernate.sqlite.SQLiteDialect</property>
		
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:simple_ged.sqlite</property>

		<property name="connection.username"></property>
		<property name="connection.password"></property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.use_sql_comments">false</property>
		<property name="hibernate.generate_statistics">false</property>

		<mapping class="com.simple.ged.models.GedDocument" />
		<mapping class="com.simple.ged.models.GedDocumentFile" />
		<mapping class="com.simple.ged.models.GedDocumentPhysicalLocation" />
		<mapping class="com.simple.ged.models.GedMessage" />
		<mapping class="com.simple.ged.models.GedGetterPlugin" />
		<mapping class="com.simple.ged.models.GedDirectory" />

		<mapping resource="mapping/ged_plugin_property.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
